  <h5>{{ product.available }}</h5>
  <h1>{{ product.selected_or_first_available_variant.inventory_quantity }}</h1>
  <h2>{{ product.id }}</h2>
  <h3>{%- if product.created_at == 2024 -%} }}
    <div class="the product is not created at 2024">
    <span>{{ 'products.product.volume_pricing.note' | t }}</span>
    </div>
    {%- endif -%}{{ product.created_at }}</h3>

  <h5>{{ product.price | money_with_currency }}</h5>

{% for varient in product.varients %}
  {{ product.options }} 
{% for option in varient.options %}
  {{ option }}
  
  
{% endfor %}
{% endfor %}